<template name="charBarChart">
  <h5>character occurrence</h5>
  <div class="row">
	<div class="col-md-9">
		<svg class="vert-chart" id="bro-chart"></svg>
	</div>
	<div class="col-md-3">
		<div class="holder">
			<div id="text-holder" class="{{showText}}">
				{{#if selectionIs 'Twitter Feed'}}
				<form class="input-group">
					<input type="text" class="form-control" id="hashtag" placeholder="#EricGarner">
					<span class="input-group-btn">
						<button class="btn btn-default" id="special-btn" type="submit"><span class="glyphicon glyphicon-flash"></span></button>
					</span>
				</form><!-- /input-group -->
				<div id="tweet-holder">{{getText}}</div>
				{{else}}
				<textarea type="text" class="form-control no-border" placeholder="this is some text that will be rendered" value="{{getText}}" rows="16"></textarea>
				{{/if}}
			</div>
			<div>
				<h5>select a text</h5>
				<ul class="nonlist">
					{{#each excerpt}}
						<li class="thin-list {{isSelected}}" style="{{selectedTransform}}">
							<img class="close-text" src="/images/close.svg" alt="">
							<div class="text-title">{{title}}</div>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
  </div>
  <div class="col-md-6">
  	<svg class="vert-chart"></svg>
  </div>
  
</template>